<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>websocket topic</title>
<!--    <script src="socket.js"></script>-->
<!--    <script src="stomp.min.js"></script>-->

    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" charset="utf-8">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById("connect").disabled = connected;
            document.getElementById("disconnect").disabled = !connected;
            $("#response").html();
        }

        function connect() {
            //var websockUrl = "http://apiwowtest.miniso.com/pintea-order/ws/endPoint";
            //var websockUrl = "http://127.0.0.1:8091/pintea-order/ws/endPoint";
            var websockUrl = "http://127.0.0.1:8094/pintea-order/ws/endPoint";
            var socket = new SockJS(websockUrl);
            let headers = {
                "ws-token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJQSE9ORSI6IjEzNTMzNzc4MzAxIiwiUkVHSVNURVJFRCI6MSwiTUVNQkVSX0lEIjozMDAwMTMzODcsImV4cCI6MTYzMzIyOTk0MywiVEVOQU5UIjoiUElOVEVBIiwianRpIjoiMmExOGQ2N2ItZmU2Ny00YTI3LWJjOTItYWQwOTUxM2QyOWM3In0.kwZUOb1xblFr7EtMVCpxkLtJ42bzFKDIZdDj9JnER1Q"
            };
            stompClient = Stomp.over(socket);
            stompClient.connect(headers, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                //广播订阅 /ws/topic 为固定前缀  20210630133710301114649 为红包编码
                stompClient.subscribe('/ws/topic/redEnvelope/20210630133710301114649', function (response) {
                    console.log(response);
                });
                //个人消息订阅 /ws/user 为固定前缀 301115069为 会员id
                stompClient.subscribe('/ws/user/300013387/xxxxname', function (response) {
                    console.log(JSON.parse(response.body));
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function heartBeat() {
            stompClient.subscribe("/ws/app/ping", function (response) {
                console.log(response);
            });
        }
    </script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <h1 id="connect" onclick="connect();">Connect</h1>
        <h1 id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</h1>
    </div>
    <div id="conversationDiv">
        <labal>名字</labal>
        <input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>